img {
  transition: opacity 0.2s;
}

img:hover {
  cursor: pointer;
  opacity: 0.9;
}




/* ------- Article Header ------- */

.c-header-container {
    width: 100%;
    height: 5em;
    display: flex;
}

.c-header-title {
    color: rgb(85, 85, 85);
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 0.3em;
}

.c-date {
    background-color: rgb(236, 236, 236);
    border-radius: 50%;
    min-height: 75px;
    min-width: 75px;
    
    color: rgb(85, 85, 85);
    font-weight: 500;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* Using line height to change horizontal space in-between elements. Because changing marging and padding was not doing anything. */
    line-height: 1.5rem;
}

/* Use > arrow when using :nth-child so that it only selects direct children. And not children's children. */
.c-date > :nth-child(1) {
    font-size: 2em;
}

.c-date > :nth-child(2) {
    font-size: 1em;
}

.c-header-container > :nth-child(2) {
    flex-grow: 1;
    align-self: center;
    padding: 1em;
    padding-right: 0;
}

.c-posted-by {
    color: rgb(153, 153, 153);
    font-size: 0.7rem;
    padding-top: 0.3em;
}





/* ------- Content Body ------- */

.c-main-content-image {
    margin: 2rem 0;
    width: 100%;
    height: 400px;
}

.c-main-content-body {
    font-size: 0.9rem;
    padding: 1rem 0;
}





/* ------- Related Posts ------- */

.c-related-posts-container {
    display: flex;
    justify-content: space-between;
}

.c-related-posts-container > img {
    width: 23%;
    height: 7em;
}





/* ------- Comments ------- */

.c-comment-container {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
}

.c-comment-container > img {
    width: 5em;
    height: 5em;
}

.c-comment-body {
    padding: 1em 1.3em;
    margin-left: 1em;
    width: 100%;
    background-color: rgb(247, 247, 247);;
    border: 1px solid rgb(225, 225, 225);
}

.c-comment-username {
    color: rgb(85, 85, 85);
    font-weight: bold;
    font-size: 0.91rem;
    padding-bottom: 0.3em;
}






/* ------- Comment Input Field ------- */

#comment-form {
    display: flex;
    flex-direction: column;
}

.c-input,
#comment-form > input {
    margin-bottom: 1rem;
    padding-left: 0.7rem;
    height: 2rem;
    font-size: 0.9rem;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(225, 225, 225);
}

::placeholder {
    color: rgb(85, 85, 85);
}

textarea {
    margin-bottom: 1rem;
    height: 10rem;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(225, 225, 225);
}

.c-form-button {
    max-width: 15%;;
}





/* ------- Popular Posts ------- */

.c-popular-container {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
}

.c-popular-container > img {
    width: 5em;
    height: 5em;
}

.c-popular-body {
    margin-left: 1em;
    width: 100%;
}

.c-popular-title {
    color: rgb(85, 85, 85);
    font-size: 0.9rem;
    padding-bottom: 0.3em;
}

.c-popular-date {
    font-size: 0.7em;
    color: rgb(153, 153, 153);
}

@media (max-width: 768px) {
  .c-popular-resp {
    border: none;
    margin-left: 0;
    margin-top: 3rem;
    padding-left: 0;
  }
}