/* The lower the number, the darker the shade of color */
.color-theme {
  --color-white1: rgb(233, 233, 233);
  --color-gray1: rgb(128, 128, 128);
  --color-gray2: rgb(253, 253, 253);
  --color-black0: rgb(39, 41, 43);
  --color-black1: rgb(58, 61, 64);
  --color-black2: rgb(74, 77, 80);
}

body {
  background-color: rgv(253, 253, 253);
}

a:focus,
a:hover {
  color: teal;
}

.navbar {
  border-bottom: 5px solid var(--color-black2);
}

.cust-nav-bg {
  background-color: var(--color-black1);
}

.cust-jkaros {
  color: var(--color-white1);
  font-weight: bold;
  font-size: 2rem;
  font-style: italic;
}

.cust-jkaros:hover {
  color: teal;
}

.cust-nav-menu-icon {
  color: var(--color-white1);
  font-size: 1.8rem;
  
  display: flex;
  align-items: center;
}

.cust-nav-font-color {
  color: rgb(212, 212, 212);
}

.nav-item {
  font-size: 0.7rem;
  font-weight: bold;
  list-style: none;
  box-shadow: 1px 0px rgb(48, 48, 50), 2px 0px rgb(66, 69, 71);
}

/* Gives Home a border (using box shadow) on its left and right side */
.home {
  box-shadow: -1px 0px rgb(48, 48, 50), -2px 0px rgb(66, 69, 71), 1px 0px rgb(48, 48, 50),
    2px 0px rgb(66, 69, 71);
}

.nav-item:focus,
.nav-item:hover {
  background-color: var(--color-black0);
}
