.cust-bg {
  background-color: rgb(58, 61, 64);
}

.nav-item {
  list-style: none;
  border-right: 1px solid rgb(48, 48, 50);
  border-left: 1px solid rgb(66, 69, 71);
}

.cust-nav-color {
  color: rgb(212, 212, 212);
}
