/* The lower the number, the darker the shade of color */
.color-theme {
  --color-white1: rgb(233, 233, 233);
  --color-gray1: rgb(128, 128, 128);
  --color-gray2: rgb(253, 253, 253);
  --color-black0: rgb(39, 41, 43);
  --color-black1: rgb(58, 61, 64);
  --color-black2: rgb(74, 77, 80);
}

.navbar {
  border-bottom: 4px solid var(--color-black2);
}

.cust-nav-bg {
  background-color: var(--color-black1);
}

.cust-jkaros {
  color: var(--color-white1);
  font-weight: bold;
  font-size: 2rem;
  font-style: italic;
}

.cust-jkaros:hover {
  color: teal;
}

.cust-nav-font-color {
  color: rgb(212, 212, 212);
}

.nav-item {
  list-style: none;
  box-shadow: 1px 0px rgb(48, 48, 50), 2px 0px rgb(66, 69, 71);
}

/* Gives Home a border (using box shadow) on its left and right side */
.home {
  box-shadow: -1px 0px rgb(48, 48, 50), -2px 0px rgb(66, 69, 71), 1px 0px rgb(48, 48, 50),
    2px 0px rgb(66, 69, 71);
}

.nav-item:hover {
  background-color: var(--color-black0);
}

a:hover {
  color: green;
}

/* Cards Columns don't work with the regular column classes (col-md-4 for example)
   They must be defined with @media keys.
   Source: First answer - @https://stackoverflow.com/questions/34140793/bootstrap-4-responsive-cards-in-card-columns/43117538#43117538
*/
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}